<%- model_class = User -%>
<h1>Forum de Labirintos</h1>
<hr>
<table class="table table-striped">
  <thead>
    <tr>
      <th><%= model_class.human_attribute_name(:user) %></th>
      <th><%= model_class.human_attribute_name(:startingPoint) %></th>
      <th><%= model_class.human_attribute_name(:endPoint) %></th>
      <th><%= model_class.human_attribute_name(:sizeMaze) %></th>
      <th><%= model_class.human_attribute_name(:created_at) %></th>
    </tr>
  </thead>
  <tbody>
    <% @users.each do |user| %>
        <% @mazes = user.mazes %>
        <% @mazes.each do |maze| %>
        <tr>
            <td><%= user.email %></td>
            <td><%= maze.startingPoint %></td>
            <td><%= maze.endPoint %></td>
            <td><%= maze.sizeMaze %></td>
            <td><%=l maze.created_at %></td>
            <td>
            <%= link_to t('.show', :default => t("helpers.links.show")),
                        maze_path(maze), :class => 'btn btn-default btn-xs' %>
            </td>
        </tr>
        <% end %>
    <% end %>
  </tbody>
</table>

