<%- model_class = Maze -%>
<div class="page-header">
  <h1><%=t '.title', :default => model_class.model_name.human.titleize %></h1>
</div>

<dl class="dl-horizontal">
  <dt><strong><%= model_class.human_attribute_name(:adjacencyList) %>:</strong></dt>
  <dd><% maze =  @maze.adjacencyList %></dd>
  <% maze = maze.split(",") %>
  <% i = 0 %>
  <% until i==@maze.sizeMaze %>
    <% j = 0 %>
    <% until j==@maze.sizeMaze %>
      <%= maze[i*@maze.sizeMaze+j]+" " %>
      <% j+=1 %>
    <% end %>
    <br>
    <% i+=1 %>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:solutionMaze) %>:</strong></dt>
  <dd><%maze = @maze.solutionMaze %></dd>
  <% maze = maze.split(",") %>
  <% i = 0 %>
  <% until i==@maze.sizeMaze %>
    <% j = 0 %>
    <% until j==@maze.sizeMaze %>
      <%= maze[i*@maze.sizeMaze+j]+" " %>
      <% j+=1 %>
    <% end %>
    <br>
    <% i+=1 %>
  <% end %>
  <dt><strong><%= model_class.human_attribute_name(:startingPoint) %>:</strong></dt>
  <dd><%= @maze.startingPoint %></dd>
  <dt><strong><%= model_class.human_attribute_name(:endPoint) %>:</strong></dt>
  <dd><%= @maze.endPoint %></dd>
  <dt><strong><%= model_class.human_attribute_name(:sizeMaze) %>:</strong></dt>
  <dd><%= @maze.sizeMaze %></dd>
</dl>

<%= link_to t('.back', :default => t("helpers.links.back")),
              mazes_path, :class => 'btn btn-default'  %>

<% comments = @maze.commentaries %>
<% if !comments.empty? %>
  <hr>
  <h3>Comentários</h3>
  <hr>
  <% comments.each do |item| %>
      <dt><strong><%= item.user.email %>:</strong></dt>
      <%= text_field_tag :comment, item.comment, size:80 %>
    <hr>
  <% end %>
<% end %>

<%= link_to "Novo Comentário", new_commentary_path(:maze_id => @maze.id), :class => 'btn btn-default'  %>
